@import '../../styles/mixins';

.pages-registration {

}

.loading-field {
    margin-top:-1em !important;
    padding-top:0.5em !important;
}

.cep-loading-position {
    margin-top:1em;
    padding-left: .5em;
    padding-top: .4em;
}

/* Switch 4 Specific Style Start */

.box_4{
    background: #eee;
  }

  .scaled {
    transform: scale(0.7); /* Equal to scaleX(0.7) scaleY(0.7) */
    background-color: pink;
  }
  
  .input_wrapper{
    width: 80px;
    height: 40px;
    position: relative;
    top:0;
    left: 0;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%);
    scale: 40;
  }
  
  .input_wrapper input[type="checkbox"]{
    width: 80px;
    height: 40px;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: #7b2433c4;
    border-radius: 2px;
    position: relative;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  
  .input_wrapper input[type="checkbox"]:after{
    position: absolute;
    content: "";
    top: 3px;
    left: 3px;
    width: 34px;
    height: 34px;
    background: rgb(226, 220, 220);
    z-index: 2;
    border-radius: 2px;
    -webkit-transition: all .35s;
    transition: all .35s;
  }
  
  .input_wrapper:hover input[type="checkbox"]:after{
    background: white;
  }
  
  .input_wrapper svg{
    position: absolute;
    top: 45%;
    right:.9em !important;
    -webkit-transform-origin: 45% 45%;
            transform-origin: 45% 45%;
    fill: #fff;
    -webkit-transition: all .35s;
    transition: all .35s;
    z-index: 1;
  }
  
  .input_wrapper .is_checked{
    width: 18px;
    left: 18%;
    -webkit-transform: translateX(190%) translateY(-30%) scale(0);
            transform: translateX(190%) translateY(-30%) scale(0);
  }
  
  .input_wrapper .is_unchecked{
    width: 15px;
    right: 10%;
    -webkit-transform: translateX(0) translateY(-30%) scale(1);
            transform: translateX(0) translateY(-30%) scale(1);
  }
  
  /* Checked State */
  .input_wrapper input[type="checkbox"]:checked{
    background: #28a745;
  }
  
  .input_wrapper input[type="checkbox"]:checked:after{
    left: calc(100% - 37px);
  }
  
  .input_wrapper input[type="checkbox"]:checked + .is_checked{
    -webkit-transform: translateX(0) translateY(-30%) scale(1);
            transform: translateX(0) translateY(-30%) scale(1);
  }
  
  .input_wrapper input[type="checkbox"]:checked ~ .is_unchecked{
    -webkit-transform: translateX(-190%) translateY(-30%) scale(0);
            transform: translateX(-190%) translateY(-30%) scale(0);
  }
  